.btn{
    &.btn-primary{
        background: $primary;
        color:white;
    }
    &.btn-light{
        background-color: $primary;
        border:solid 1px $dark;
        color:$dark;
    }
    &.btn-dark{
        background-color: $dark;
        border:solid 1px $primary;
        color:white;
        font-weight: 300;
    }
    text-decoration: none;
}

.heading-primary{
    color:$primary;
}

.list-arrow{
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 0;
    li{
        display: flex;
        gap:10px;
        line-height: 1.75em;
        &:before {
            color:$primary;          
            content: "\f0a9";
            display: inline-flex;
            font-family: $font-fa;
            font-style: normal;
            font-weight: 900;
        }
    }
}